{% load static %}
<header>
  <p>Practice, Practice, Practice</p>
  <img src="/static/img/1.png" alt="logo" width="150">
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">Sobre mi</a></li>
    <li><a href="{% url 'menu' %}">Servicios</a></li>
    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>
    <li><a href="{% url 'lista_posts' %}">Blog</a></li>
    <li><a href="{% url 'academy' %}">Academia</a></li>
    <!--<li><a href="{% url 'investigaciones' %}">Investigaciones</a></li>-->
    <!--<li><a href="{% url 'emprendedorismo' %}">Emprendedorismo</a></li>-->
    <!--<li><a href="{% url 'lamole' %}">Restaurante</a></li>-->
  </ul>
</nav>
