{% load static %}
<header>
  <p>Practice, Practice, Practice</p>
  <img src="/static/img/1.png" alt="logo" width="150">
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">Sobre mi</a></li>
    <li><a href="{% url 'menu' %}">Servicios</a></li>
    <li><a href="{% url 'blog' %}">BLOG</a></li>
    <li><a href="{% url 'menu' %}">Marketplace</a></li>
    <li><a href="{% url 'menu' %}">RedSocial</a></li>
    <li><a href="{% url 'menu' %}">Academia</a></li>
    <li><a href="{% url 'menu' %}">Investigaciones</a></li>
    <li><a href="{% url 'menu' %}">Emprendedorismo</a></li>
    <li><a href="{% url 'menu' %}">Restaurante</a></li>
    <li><a href="{% url 'book' %}">Reserva tu pedido</a></li>
  </ul>
</nav>
