{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Sobre mi</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <img src="/static/img/MSC.png" width="350" alt="logotipo">
        <p>
         Somos una empresa de servicios financieros, informaticos y empresariales.
        </p>
        <p>
          "La creatividad y el conocimiento no tienen fronteras, como el universo mismo."        </p>

        <p>
          Nuestra empresa independiente se especializa en brindar soluciones integrales en informática, contabilidad, finanzas, marketing y diseño, ofreciendo servicios adaptados a las necesidades actuales del mercado. Nos destacamos por mantenernos constantemente actualizados con las últimas tendencias y tecnologías, garantizando un enfoque innovador, eficiente y profesional en cada proyecto que desarrollamos para nuestros clientes.
        </p>
        <img src="/static/img/menu_items/web3.png" alt="web3" width="500">
        <img src="/static/img/menu_items/analisis.png" alt="analisis" width="500">
       
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <figcaption class="figure-caption">
            <h1>Inspiracion</h1>
            <img src="/static/img/jobs.png" alt="jobs" width="200">
            <img src="/static/img/gates.png" alt="gates" width="200">
            <img src="/static/img/rob.png" alt="rob" width="200">
            <img src="/static/img/nich.png" alt="nick" width="200">

          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
