{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Sobre mi</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <img src="/static/img/sol.png" width="350" alt="pictureAI">
        <p>
          Vivo en Paraguay Asuncion, estoy en tercer año de ingenieria, soy escritora,
          profesora particular, creadora de contenido, fullstack y data analyst junior,
          me gusta la investigacion y el emprendedorismo. Ademas se cocinar pizza, juego
          basket y mi jugador favorito es Luka Doncic, espero viajar mucho y trabajo como
          freelancer. Solo pocas personas me hacen reir a carcajadas. Mi estilo de vida es
          media y estoy bien asi y soy cristiana.
          
        </p>
        <img src="/static/img/marian.png" width="850" alt="CV">
        <p>
          Mi lema es el agradecimiento  da suficiencia y esto felicidad
        </p>

        <p>
          Me encanta el mundo de la creacion por eso soy fullstack uso django y le agrego 
          buen diseño preparandome para la web 3.
        </p>
        <img src="/static/img/menu_items/web3.png" alt="web3" width="500">
        <p>
          Tambien tengo afinidad en encontrar patrones por eso tambien soy analista de 
          datos con la llegada de la Inteligencia Artificial tengo que estar al dia.
        </p>
        <img src="/static/img/menu_items/analisis.png" alt="analisis" width="500">
       
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <figcaption class="figure-caption">
            <h1>Inspiracion</h1>
            <img src="/static/img/jobs.png" alt="jobs" width="200">
            <img src="/static/img/gates.png" alt="gates" width="200">
            <img src="/static/img/rob.png" alt="rob" width="200">
            <img src="/static/img/nich.png" alt="nick" width="200">

          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
