{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Sobre mi</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <img src="/restaurant/static/img/sol.png" width="350" alt="pictureAI">
        <p>
          Vivo en Paraguay, Asuncion, estoy en 3er año de Ingenieria, SEO del negocio
          familiar de pizzas 'La mole bar', me gusta leer, soy profesora particular y
          escritora ademas de freelancer desde 2017 en fullstack, 
          analisis de datos, diseño, marketing y 
          product manager. Me gusta viajar y jugar basket.
          
        </p>
        <img src="/restaurant/static/img/marian.png" width="850" alt="CV">
        <p>
          The chefs draw inspiration from Italian, Greek, and Turkish culture
          and have a menu of 12-15 items that they rotate seasonally.
        </p>

        <p>
          Me encanta el mundo de la creacion por eso soy fullstack uso django y le agrego 
          buen diseño preparandome para la web 3.
        </p>
        <img src="/restaurant/static/img/menu_items/web3.png" alt="web3" width="500">
        <p>
          Tambien tengo afinidad en encontrar patrones por eso tambien soy analista de 
          datos con la llegada de la Inteligencia Artificial tengo que estar al dia.
        </p>
        <img src="/restaurant/static/img/menu_items/analisis.png" alt="analisis" width="500">
       
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <figcaption class="figure-caption">
            <h1>Inspiracion</h1>
            <img src="/restaurant/static/img/jobs.png" alt="jobs" width="200">
            <img src="/restaurant/static/img/gates.png" alt="gates" width="200">
            <img src="/restaurant/static/img/rob.png" alt="rob" width="200">
            <img src="/restaurant/static/img/nich.png" alt="nick" width="200">

          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
