{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Agenda tu pedido:</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
         <h1>CONTACTO</h1>
         <p>
          <ul>
            <li>arenitamar7632@gmail.com</li>
            <li>0982205788</li>
            <li>@soledithy</li>
          </ul>
         </p>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}