{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <article id="hero">
      <h1 class="heading_shadow">STAY HUNGRY STAY FOOLISH</h1>
    </article>
  </section>
  <section>
    <article>
      <h2>Mis servicios</h2>
      <img src="{% static 'img/statistic.png' %}">
      <p>
       Data Analyst
      </p>
      <p>
        <a href="{% url 'menu' %}">Ve nuestros servicios</a>
      </p>
    </article>
    <article>
      <h2>Reserva un pedido:</h2>
      <img src="{% static '/img/mktd.png' %}">
      <p>
        Cualquier proyecto que tengas te va a hacer crecer en experiencia.
      </p>
      <p>
        <a href="{% url 'menu' %}">Reserva tu pedido ahora</a>
      </p>
    </article>
    <article>
      <h2>Si tu idea es genial entonces todo saldra genial</h2>
      <img src="{% static '/img/tw.png' %}">
      <p>
        El genio es uno por ciento inspiración y noventa y nueve por ciento transpiración.
      </p>
    </article>
  </section>
{% endblock %}