{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 2rem; text-align: center;">El producto no se basa en la cantidad sino a la calidad</h1>

<section class="container" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; padding: 20px;">

  <div class="box" style="background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; max-width: 300px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h3 style="font-size: 1.25rem; font-weight: bold; margin-bottom: 10px;">Vendo Terreno en Limpio</h3>
      <img src="{% static 'img/limpio.png' %}" alt="terreno" width="200">
      <p style="color: #555;"><b>PRECIO:95 000 000 contado</b> con camino y se esta urbanizando</p>  
  
  </div>

  <div class="box" style="background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; max-width: 300px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h3 style="font-size: 1.25rem; font-weight: bold; margin-bottom: 10px;">Alquiler de una ha en Pirayu</h3>
    <img src="{% static 'img/pirayu.png' %}" alt="terrenoPirayu" width="200">
    <p style="color: #555;"><b>PRECIO:1 000 000 mensual</b> con camino solo hay 11 cupos</p>
  

  <div class="box" style="background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; max-width: 300px; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h3 style="font-size: 1.25rem; font-weight: bold; margin-bottom: 10px;">Venta de suplemento para la vista, diabetes,atencion,energia, problemas cardiovasculares y demas</h3>
    <img src="{% static 'img/productoslindosA.png' %}" alt="producto5" width="200">
    <p style="color: #555;"><b>PRECIO:25$</b>Es mejor prevenir que lamentar, estos suplementos te ayudaras</p>
  </div>

</section>
{% endblock %}
