{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Fullstack</h3>
        <p class="text-gray-700 text-base mb-4">Del team django con python, html y css.</p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Data Analyst</h3>
        <p class="text-gray-700 text-base mb-4">python con pandas, numpy y matplotlib</p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Product Design</h3>
        <p class="text-gray-700 text-base mb-4">google form y figma</p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Marketing Manager</h3>
        <p class="text-gray-700 text-base mb-4">Marketing digital, redes sociales
          y contenido, analisis y metricas ademas de gestion de influencers.
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Product Manager</h3>
        <p class="text-gray-700 text-base mb-4">Planificador de prodcutos, coordinacion
          de equipos, diseño de mvps, gestion de productos
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Traductora</h3>
        <p class="text-gray-700 text-base mb-4">Ingles, Español, Guarani</p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Escritora y creadora de contenido</h3>
        <p class="text-gray-700 text-base mb-4">Nichos de conocimiento con investigaciones</p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold mb-2">Profesora online</h3>
        <p class="text-gray-700 text-base mb-4">Matematicas,Fisica, Quimica, Electronica,
          arte, diseño
        </p>
      </div>
    </div>
    <h1>Freelancer desde 2017</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          El agradecimiento transforma lo que tenemos en suficiente y lo convierte en una fuente de felicidad.        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static '/img/happ.jpg' %}"
            alt="junnior"
            width="200"
          />
          <figcaption class="figure-caption">
            nature and her beauty.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
